#fotoChoose {
  background: url("../images/NIKE-AIR-VAPOR-MAX.jpg") no-repeat;
  background-size: contain;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #141618;
}

.bg {
  background-color: #141618;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: flash 1s linear alternate 3.5s forwards;
          animation: flash 1s linear alternate 3.5s forwards;
}
@-webkit-keyframes flash {
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  100% {
    opacity: 1;
  }
}
.bg .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #141618;
}
.bg .header .header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  color: black;
}
.bg .header .header__container .fa-home {
  color: #fcfefe;
  font-size: 36px;
  margin-left: 15px;
  transition-duration: 0.5s;
}
@media (max-width: 1200px) {
  .bg .header .header__container .fa-home {
    margin-left: 0px;
  }
}
.bg .header .header__container .fa-home:hover {
  color: #9c051e;
}
.bg .header .header__container .buy {
  background-color: #9c051e;
  color: #fcfefe;
  font-size: 24px;
  border: 2px solid #9c051e;
  margin: 25px;
  border-radius: 15px;
  transition-duration: 0.5s;
  margin: 0px;
}
@media (max-width: 400px) {
  .bg .header .header__container .buy {
    max-width: 190px;
  }
}
.bg .header .header__container .buy:hover {
  background-color: #141618;
  color: #9c051e;
  border: 2px solid #9c051e;
}
.bg .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 100%;
  margin-top: 70px;
}
@media (max-width: 1200px) {
  .bg .main {
    width: 100vw;
  }
}
.bg .main .delete {
  display: flex;
  align-items: center;
  justify-content: end;
}
.bg .main .delete .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 30px;
  color: #fcfefe;
  margin-top: 20px;
}
.bg .main .delete .button p {
  font-size: 24px;
  margin: 0px;
}
.bg .main .delete .button .del {
  border: none;
  background-color: #141618;
}
.bg .main .delete .button .del i {
  transition-duration: 0.5s;
  font-size: 36px;
  color: #fcfefe;
  margin: 10px 0px 10px 0px;
}
.bg .main .delete .button .del:hover i {
  color: #9c051e;
}
.bg .main .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg .main .content .proposition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px;
}
@media (max-width: 740px) {
  .bg .main .content .proposition {
    flex-direction: column;
  }
}
.bg .main .content .proposition .foto {
  width: 600px;
  height: 429px;
}
@media (max-width: 1200px) {
  .bg .main .content .proposition .foto {
    height: 35.6312292359vw;
    width: 100vw/2;
  }
}
@media (max-width: 740px) {
  .bg .main .content .proposition .foto {
    height: 71.2624584718vw;
    width: 100%;
  }
}
.bg .main .content .proposition .about-sneakers {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fcfefe;
}
@media (max-width: 740px) {
  .bg .main .content .proposition .about-sneakers {
    padding-top: 35px;
  }
}
.bg .main .content .proposition .about-sneakers .size {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
}
.bg .main .content .active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.bg .main .content .cost {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 1110px) {
  .bg .main .content .cost {
    margin-top: 0px;
    align-items: center;
  }
}
.bg .main .content .cost .count-buy {
  display: flex;
  align-items: center;
}
.bg .main .content .cost .count-buy span {
  font-size: 64px;
  color: #fcfefe;
  margin: 0px 15px;
}
@media (max-width: 1100px) {
  .bg .main .content .cost .count-buy span {
    font-size: 40px;
  }
}
.bg .main .content .cost .count-buy .count {
  color: #fcfefe;
  border: none;
  background-color: #141618;
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg .main .content .cost .count-buy .count .fa {
  font-size: 34px;
}
@media (max-width: 1100px) {
  .bg .main .content .cost .count-buy .count .fa {
    font-size: 26px;
  }
}
.bg .main .content .cost .cost-value {
  display: flex;
  align-items: end;
  flex-direction: column;
  letter-spacing: 1px;
}
.bg .main .content .cost .cost-value .discount {
  width: 50px;
  height: 20px;
  padding-left: 5px;
  background-color: #fcfefe;
  color: #141618;
  border-radius: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.bg .main .content .cost .cost-value .f_cost {
  color: #9c051e;
  font-size: 26px;
  margin: 0px;
  -webkit-text-decoration: line-through #fcfefe;
          text-decoration: line-through #fcfefe;
}
.bg .main .content .cost .cost-value .r_cost {
  color: #fcfefe;
  font-size: 35px;
  font-weight: 300;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #141618;
  opacity: 1;
  -webkit-animation: num 0.3s linear alternate 3.2s forwards;
          animation: num 0.3s linear alternate 3.2s forwards;
}
@-webkit-keyframes num {
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes num {
  100% {
    opacity: 0;
    display: none;
  }
}
.video #myVideo {
  height: 56.25vw;
  width: 100%;
  background-size: contain;
}/*# sourceMappingURL=BStyle.css.map */